<h1>Welcome to My Express App</h1>
<p>This is the main page of the project.</p>
<ul>
  <li><a href="/users">Go to Users</a></li>
  <li><a href="/articles">Go to Articles</a></li>
  <li><a href="/auth/login">Go to Login</a></li>
  <li><a href="/auth/register">Go to Register</a></li>
  <li><a href="/auth/profile">Go to Profile</a></li>
  <li><a href="/protected">Go to Protected Page</a></li>
  <hr>
  <li><a href="/users/cursor/list">Go to Users Cursor List</a></li>
  <li><a href="/users/stats/summary">Go to Users Stats Summary</a></li>
  <li><a href="/articles/cursor/list">Go to Articles Cursor List</a></li>
  <li><a href="/articles/stats/summary">Go to Articles Stats Summary</a></li>
</ul>